@import url('https://fonts.googleapis.com/css2?family=Holtwood+One+SC&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

main {
    @apply relative flex content-center justify-center;
}

input {
    @apply w-full p-2 rounded-sm duration-[0.35s] bg-white my-2;
}

/* https://stackoverflow.com/questions/2781549/removing-input-background-colour-for-chrome-autocomplete */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}

input:disabled {
    opacity: 0.3;
}

label {
    @apply text-white;
}

label.required::after {
    @apply content-['*'] text-blue-300;
}

.extra-link {
    @apply text-slate-400 text-sm;
}