@import url('https://fonts.googleapis.com/css2?family=Holtwood+One+SC&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

::selection {
	@apply bg-blue-300 text-black;
}

html {
	@apply scroll-smooth;
}

main > div:not(.media-page) input {
	@apply w-full p-2 rounded-sm duration-[0.35s] bg-white text-black;
}

main > div:not(.media-page) hr {
	@apply border-white/60 inline-block w-28 -translate-y-1 mx-1;
}

main > div:not(.media-page) label {
	@apply block p-2 text-white;
}

label.required {
	@apply relative;
}

main > div:not(.media-page) label.required::after {
	@apply content-['*'] text-blue-300 absolute -left-[1px] top-[5px];
}

.extra-link {
	@apply text-slate-400 text-sm mt-2;
}

/* https://stackoverflow.com/questions/2781549/removing-input-background-colour-for-chrome-autocomplete */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
	box-shadow: 0 0 0 30px white inset !important;
	-webkit-box-shadow: 0 0 0 30px white inset !important;
}

input:disabled {
	opacity: 0.3;
}

.result {
	@apply block;
}

.result .rating {
	@apply opacity-0 transition-all absolute top-0 right-0 bottom-0 left-0 p-2 flex items-end text-white;
	background: rgb(0, 0, 0);
	background: linear-gradient(360deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 100%);
}

.result:hover .rating {
	@apply opacity-100;
}

.rating .stars {
	@apply inline-block text-sm;
	--percent: calc(var(--rating) / 10 * 100%);
	font-family: Times;
}

.rating .stars::before {
	@apply bg-clip-text;
	content: '★★★★★';
	letter-spacing: 3px;
	background: linear-gradient(90deg, #fc0 var(--percent), #fff var(--percent));
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

::cue {
	color: white;
	background-color: rgba(0, 0, 0, 0);
	text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000, -1px -1px 0 #000,
		1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
	-webkit-text-stroke: 1px black;
}

.hover-scale {
	@apply hover:scale-110 transition-all duration-150 invert;
}