# IDE
.vscode
.idea

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
**/main
pkg
bin

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Generated packages
**/proto/*.go
**/sqlc/*.go

# Random/misc
*.asdf
**/toto*
**/tutu*
**/tata*

# Env
.env
